h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .menu-container {
    display: flex;
    justify-content: space-between;
  }
  
  .platos-container,
  .carrito-container {
    flex-basis: 45%;
  }
  
  .plato-card,
  .carrito-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .plato-card img,
  .carrito-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .plato-details,
  .item-details {
    flex-grow: 1;
  }
  
  .plato-details h3,
  .item-details h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .plato-details p,
  .item-details p {
    margin: 5px 0;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .total {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  